.products-container{
    border: 1px solid black;
    padding: 40px;
    width: 80%;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 20px;
}
.product-ctrls{
    gap: 20px;
    button{
        width: 200px;
    }
}