.product-container{
    border: 1px solid black;
    padding: 10px;
}
.product{
    flex: 0 0 300px;
}
.product-img{
    img{
        width: 300px;
        height: 300px;
    }
}
.delete-btn{
    color: white;
    background-color: red;
    border: none;
}